[2017-05-31 14:37] nils-braun opened #22 "Use CI to create the homepage of the project"
In the moment, this is a manual task. This may be automatized with every commit using e.g. travis.ci.

[2017-06-01 16:02] eduardo-rodrigues commented on #22
That would be great, as I mentioned to you in person. For the moment I run a little script and copy things across repositories since one needs in particular to rename some of the _XXX directories created by Sphinx to XXX; and the links inside all files need to be updated accordingly, of course.
I can easily share my few commands for the job.

BTW, there is one think to keep in mind, though: at som

[2017-06-01 19:04] nils-braun commented on #22
If you have a script, this is very nice. But I would actually use something like
https://github.com/Syntaf/travis-sphinx/blob/master/travis_sphinx.py
which is more or less a convenience wrapper around
https://github.com/davisp/ghp-import

Travis can also be configured to do something else on release versions etc.

I think in the end we may think about readthedocs, because there the versioning is q

[2017-06-01 19:26] nils-braun opened #23 "Find a policy for soft imports"
I am just copying the discussion, which was already started by @jpivarski in dependencies.py.
[code]
As this may need some discussion, I am creating an issue here.

I by myself would vote for the strict softimports, because they do not have another "wrapping" layer in between.
Concerning the ImportError case you discussed in the last paragraph: this is a valid point. However, as this most probably

[2017-06-01 19:29] nils-braun opened #24 "Apply PEP8"
I know, this is always the last thing people want to hear from an external contributor, but still :-)
I can take care of this, but as I would to touch multiple files, I wanted to ask first.

[2017-06-01 19:58] eduardo-rodrigues commented on #24
I can tell you it is not the las thing I want to hear when somebody tells me "I can take care of this" ;-).
I'm in favour and simply have not complied everywhere because I do not know the full PEP8 myself.
How about we give it until the end of the week to see if somebody complains, and otherwise you can go ahead and prepare a PR with the changes to some files as a starting point? (Unless you can a

[2017-06-01 21:13] nils-braun commented on #24
Actually I think I can do this on all files at once. There are certain tools for this. I will wait until the weekend, as you have said.

[2017-06-02 11:11] MarkusPrim opened #26 "Constants Redundant to scipy.constants"
Hi,

I just want to raise awareness to the existing [scipy.constants](https://docs.scipy.org/doc/scipy-0.19.0/reference/constants.html). If constants are implemented here it makes probably more sense to build on the existing ones in scipy.

Cheers,
Markus

[2017-06-02 11:18] MarkusPrim opened #27 "Vectors not based on numpy"
Hi,

was there a design decision that the cector class is not based on numpy arrays? One could then rely on [numpy.linalg](https://docs.scipy.org/doc/numpy/reference/routines.linalg.html), which provides a lot of required functionality.

Cheers,
Markus

[2017-06-02 11:26] eduardo-rodrigues commented on #27
Hi,

Thank for getting in touch. Hope you like the project.

The short answer is no. It was important to get going with the definition of the API so a simple internal implementation was provided for the very first version of the class. But numpy arrays are indeed under the radar ... in fact some of us are about to start reviewing the vector class and a Lorentz vector class that will make it to the

[2017-06-02 11:26] #27 closed

[2017-06-02 12:01] thomaskeck commented on #27
Hello,

I would also vote to design the classes so that they can benefit from SIMD (single instruction multiple data) - the strength of numpy.

[2017-06-02 12:13] eduardo-rodrigues commented on #27
Makes sense.
BTW, how did you guys get to know about this project? I'm working hard on building a community so am very much interested ;-). Do get in touch if you want to contribute and/or have project ideas ... some are to be find already on the website and more will come.

[2017-06-02 12:43] eduardo-rodrigues commented on #22
Trivial "script" that does mostly the job (then a matter of copying files across repos):
# cd to the appropriate folder
# Run the Sphinx Makefile
make -C doc html

# Fix _XXX links produced by Sphinx!
find . -type f -name "*.html" | xargs sed -i "s/_static/static/g"
fnd . -type f -name "*.html" | xargs sed -i "s/_sources/sources/g"
find . -type f -name "*.html" | xargs sed -i "s/_images/images/g"

[2017-06-02 12:48] eduardo-rodrigues commented on #24
OK, will see how it looks. I'm aware of the pep8 module.
Personally I very much like the style of the doc that scikit-learn has and I'm not sure it's all PEP8-compliant.

[2017-06-02 13:46] thomaskeck commented on #27
@eduardo-rodrigues The project was advertised by @nils-braun at KIT

[2017-06-02 13:49] eduardo-rodrigues commented on #27
OK, so you are part of the same group. Great.

[2017-06-04 19:35] eduardo-rodrigues commented on #24
Sorted with pull #28.

[2017-06-04 19:35] #24 closed

[2017-09-21 20:53] henryiii opened #42 "Add pytest as a dependency for tests"
Pytest is a powerful testing framework, and is far more compact and clear. Project such as Numpy are moving to pytest ([numpy#9362](https://github.com/numpy/numpy/pull/9362), [numpy#9352](https://github.com/numpy/numpy/issues/9352)). Here's an example of pytest:

[code]

The assert gets rewritten to provide nice failure messages when this fails. It's fully backward compatible with nose and unittes

[2017-10-02 12:08] eduardo-rodrigues commented on #42
This is a good idea. The syntax seems nicer indeed. Question is simply whether to move to Pytest now or wait for after the first dev release at the end of this month. Depends on how quickly once can make the move ... Do you want to get started with the migration of the tests for the constants and units modules that are unlikely to be touched in the couple of weeks to come?

[2017-10-03 07:18] #42 closed

[2017-11-13 16:25] eduardo-rodrigues opened #54 "Provenance classes need to combine, to follow flows"
At present the Provenance classes in the `skhep.utils package`, needed for the `Dataset`-like classes, do not properly combine if one has a flow of conversions and/or transformations of datasets.
Need to finalise this implementation asap.

[2017-12-12 12:26] marinang commented on #54
I was just thinking about this! (Maybe there is already something ongoing since you started the issue one month ago)

In which direction would you rather go to solve this?

1. A proper treatment of addition of for instance "ObjectOrigin + Transformation", that would return a class... the latest object here Transformation? If you so maybe so can add an attribute called "history", "previous" to Obje

[2017-12-19 10:16] eduardo-rodrigues commented on #54
Thanks for getting to this!
Let me start by adding @jpivarski since he was the original author of the Provenance-like classes. It would be good to have his thoughts/opinions ...
No there is nothing going on already on this front. So the enhancement is fully on the to-do list.
Hmm, I do not have a ready-to-use solution. I kind of like the fact that the Dataset classes have a simple property and kno

[2017-12-20 00:07] jpivarski commented on #54
The first implementation of Provenance was a strawman to get ideas started. The ObjectOrigin/Transformation model only works if Transformations are linearly applied, and whether that's sufficiently general depends on what kinds of Transformations are possible. If "joins," combining two datasets in some meaningful way, are allowed, then the history becomes a DAG, and we'd have to somehow model the

[2017-12-26 18:09] arx7 opened #56 "minor error in the costheta() function of the Vector3D class"
The code  read
if self.x == 0 and self.y == 0:
    return 1.
which is not valid  if self.z < 0

[2017-12-27 16:40] marinang commented on #54
Hi  @eduardo-rodrigues, @jpivarski,
yes I’m currently working a bit on this and implementation on NumpyDataset. I will show you in a few days the results.

[2017-12-29 11:57] eduardo-rodrigues commented on #54
Excellent news @marinang! Looking forward to seeing that in.
Have a good Xmas break as well!

[2017-12-29 16:18] eduardo-rodrigues commented on #56
Thank you for looking into our package!
We will deal with this in the new year. In any case feel free to submit a pull request. Thanks.

[2018-01-08 15:46] eduardo-rodrigues commented on #56
Solved with commit 1f6dfbf.

[2018-01-08 15:47] #56 closed

[2018-04-23 13:29] marinang opened #58 "'module' object has no attribute 'to_rgba' when plotting histograms with error bars"
Hi

I was just trying to reproduce the example I here https://github.com/scikit-hep/scikit-hep/blob/master/doc/examples/visual/errorbars.ipynb

[code]

 but when errorbars is set to True there is an error

<img width="1120" alt="capture d ecran 2018-04-23 a 15 29 25" src="https://user-images.githubusercontent.com/24250309/39129577-23a8800e-470b-11e8-9211-6ffb36e5abb9.png">

Matt

[2018-04-23 13:35] eduardo-rodrigues commented on #58
Cc'ing @brovercleveland as I do not manage to assign this to him ...

[2018-04-23 13:38] brovercleveland commented on #58
I'll take a look, I have a new update to push with minor bugfixes and optimization.

[2018-04-23 13:44] marinang commented on #58
This is with python 2.7!

[2018-05-10 19:34] marinang commented on #58
@brovercleveland  No problem. I'm using matplotlib 2.2.2 .

[2018-05-15 17:52] brovercleveland commented on #58
Hi @marinang,
So, I cannot reproduce your error using python 2.7.12 and mpl 2.2.2.  However, I do get another error (which is expected):
`TypeError: _reshape_2D() takes exactly 2 arguments (1 given)`

This is because the current version of scikit-hep is not compatible with mpl >2.1.  My local version has already fixed that minor incompatibility, and I will push it to the master fork after I've cle

[2018-05-15 18:59] marinang commented on #58
Hi @brovercleveland,
It is not impossible that I have updated the matplotlib version in between and of course I don't remember which one I was using :S

[2018-07-03 11:39] marinang opened #60 "Use of RDataFrame for RootDataset"
In the last update of ROOT RDataFrame was introduced, see

https://root.cern/doc/master/classROOT_1_1RDataFrame.html

https://root-forum.cern.ch/t/rdataframe-a-modern-tool-to-manipulate-and-analyze-root-datasets/29384

I think it could be used for the RootDataset interface when full python support of RDataFrame will be achieved.

[2018-07-17 10:22] eduardo-rodrigues opened #68 "Add support for matplotlib 2.2"
At the moment we have the requirement 'matplotlib>2.0.0,<2.1;python_version>="2.7"' for the `visual` module. Possible to get rid of this, to support mpl 2.2?
Cc @brovercleveland.

[2018-07-17 10:35] chrisburr opened #69 "Automatically deploy new releases to PyPI"
I'm happy to set this up in the near future to match with most of the organisation's other repositories.

What do you think about having a dedicated account on PyPI for deploying new releases?

[2018-07-17 11:19] eduardo-rodrigues commented on #69
Indeed a good idea to have the automatic deployment.

What do you mean by a dedicated account? I confess that I'm using mine for now to make some of the deployments.

[2018-07-18 12:33] chrisburr commented on #69
I also use my personal one but my idea was to have a dedicated user so:
 - We don't have to put our personal account's passwords in the CI
 - It's less inconvenient if someone leaves

My suggestion is to make a PyPI account named [`scikit-hep`](https://pypi.org/user/scikit-hep/) which has access to most/all scikit-hep projects.

[2018-07-19 21:43] brovercleveland commented on #68
Yup, updating on my end now.  I'll push my fork tomorrow!

On Tue, Jul 17, 2018 at 6:22 AM Eduardo Rodrigues <notifications@github.com>
wrote:

--
Brian Pollack, Ph.D.
Experimental Particle Physics
Northwestern University

[2018-07-25 14:20] eduardo-rodrigues commented on #68
Fixed with https://github.com/scikit-hep/scikit-hep/pull/70.

[2018-07-25 14:20] #68 closed

[2018-07-25 14:21] eduardo-rodrigues commented on #58
Can you confirm, @marinang, that PR https://github.com/scikit-hep/scikit-hep/pull/70 fixes your issues, in which case this can be closed. Many thanks.

[2018-07-25 14:22] eduardo-rodrigues commented on #69
Kind ping for the email to the admins list :-).

[2018-07-25 14:44] marinang commented on #58
Yes, I will have a look.

[2018-07-26 08:10] marinang commented on #58
@eduardo-rodrigues You can close this issue, I don't encounter this problem  anymore 👍

[2018-07-26 08:16] eduardo-rodrigues commented on #58
Brilliant, thanks a lot for the confirmation.

[2018-07-26 08:16] #58 closed

[2018-08-22 11:59] marinang opened #71 "NumpyDataset, input from multiple ROOT files / arrays"
Hi all,

I am using a lot NumpyDataset in my analysis and I encountering a small issue when I want to use a NumpyDataset with inputs from multiple ROOT Files.
When you instantiate a NumpyDataset you give the dataset in the form of a numpy record array or a dictionnary of numpy arrays.
Dealing with several ROOT files I didn't have a problem with **root-numpy**, since It was creating a numpy record

[2018-08-23 20:08] drdavis commented on #71
I've thought about this as well. An idea:

A numpythonic way might be to use `numpy.concatenate`.  Perhaps the use of provenances can be improved (this assumes uniform provenances), but a quick back-of-the-envelope implementation:

[code]
usage:

[code]

[2018-09-15 06:54] atashfeshan commented on #58
hi
I don't know why but this problem just happen with jupyter(or ipython) test your code in  your terminal

[2018-09-18 14:53] brovercleveland commented on #58
If you're having this issue, please print out what versions of matplotlib, jupyter, and scikit-hep you're using.

[2018-09-24 10:01] srugano commented on #58
Python : 3.5
jupyter==1.0.0
matplotlib==1.5.1
 I have this error:

`AttributeError                            Traceback (most recent call last)
/usr/local/lib/python3.5/dist-packages/ipykernel/pylab/backend_inline.py in show(close, block)
     37             display(
     38                 figure_manager.canvas.figure,
---> 39                 metadata=_fetch_figure_metadata(figure_manager.canvas.

[2018-09-25 19:59] brovercleveland commented on #58
@srugano your version of matplotlib is incompatible with this package, please update to a version greater than 2.0

[2018-09-26 08:16] eduardo-rodrigues commented on #58
Hi @brovercleveland, maybe a source of trouble is the INSTALL_REQUIRES part which specifies the version of matplotlib only for Py2.7*, seehttps://github.com/scikit-hep/scikit-hep/blob/master/setup.py?

[2018-10-03 20:52] ianylow commented on #58
Running into the same issue with Pyhton 2.7 and Matplotlib 1.5.3

[2018-10-03 21:07] brovercleveland commented on #58
Very strange, the relevant line in setup.py is `'matplotlib>2.0.0;python_version>="2.7"`, which i assumed imposed this matplotlib version requirement for all python versions greater than or equal to 2.7 (which is redundant at this point, anyway).  I'm not sure why this condition is not being imposed, I'll have to investigate further.  @ianylow , please update your matplotlib version in the meantim

[2018-11-15 16:01] marinang commented on #71
Solve by #72

[2018-11-15 16:01] #71 closed

[2018-12-13 12:15] kambizG commented on #58
Same issue here!

<img width="978" alt="screen shot 2018-12-13 at 1 07 57 pm" src="https://user-images.githubusercontent.com/5528894/49937840-56f3a800-fed8-11e8-902f-e214bad0267b.png">

I'm using the following Versions:

<img width="844" alt="screen shot 2018-12-13 at 1 13 45 pm" src="https://user-images.githubusercontent.com/5528894/49938080-0cbef680-fed9-11e8-9cbe-0294151d926b.png">

[2018-12-13 15:32] pollackscience commented on #58
Please run `pip install -U matplotlib`.  You are using a version of matplotlib that is too old to be compatible with scikit-hep.  You also do not show what version of scikit-hep you are using, but please make sure you are using the latest version (which is compatible with py3.5).

Because this issue keeps occurring, I just tested a fresh install for myself.  I installed python 3.5.6, then installe

[2019-02-06 11:44] beojan opened #74 "MplPlotter.hist doesn't work with multiple unstacked histograms"
With multiple unstacked histograms, `MplPlotter.hist` gives the error:

[code]

[2019-02-07 15:56] pollackscience commented on #74
Please provide a minimal example that throws this error, along with the version of scikit-hep you're using.

[2019-02-07 17:14] beojan commented on #74
It seems to have solved itself, as so often happens.

[2019-02-07 17:14] #74 closed

[2019-02-13 07:55] frederikfaye opened #75 "range keyword for skh_plt.hist not doing anything"
The range argument of skh_plt.hist does not seem to do anything at the moment.

[code]

[2019-02-14 13:59] eduardo-rodrigues commented on #75
Can you have a look, @pollackscience ?

[2019-02-14 15:16] pollackscience commented on #75
Hi @frederikfaye, I confirmed that range is not working as expected with the bayesian block binning (it overrules any prior range specification).  There is a subtlety in how things are implemented: when a user calls bayesian blocks, the bins are calculated via the algorithm, and then that binning is passed to matplotlib.hist.  A user-defined set of bins overrules any call to `range`: https://matpl

[2019-02-14 16:00] frederikfaye commented on #75
@pollackscience Thanks for the quick answer!

I don't know if I have much say here, but I personally would prefer the second option, for the following two reasons:

1. This is the standard in matplotlib, and is what I would expect to happen when specifying a range.
2. I think the third option would give misleading bin heights when using `scaling=bin_width` (if you simply "zoom in" after making the

[2019-02-14 16:29] chrisburr commented on #75
I agree that the most intuitive behaviour is

I think this matches with how matplotlib treats combinations of arguments such as `density=1, range=[0, 0.5]`. Overflowing data is removed and the distribution is normalised within the user supplied range as opposed to over the entire dataset.

[2019-02-15 13:57] pollackscience commented on #75
Great, I'll implement Option 2 (masking the input data, restricting to specified range) and have it go through the PR.  In the mean time, I suggest applying the mask directly to the data:
`data[(data>xmin)&(data<xmax)]`

[2019-02-28 19:25] pollackscience commented on #75
Forgot to mention this should be closed out @eduardo-rodrigues, range functionality updated via #76.

[2019-02-28 19:43] #75 closed

[2019-03-29 10:54] frederikfaye opened #81 "Documentation site down"
http://scikit-hep.org/scikit-hep/documentation.html gives a 404. Where can I read the documentation?

[2019-04-04 17:54] joemcglinchy commented on #58
Also seeing this with the following versions:

Python:  3.6.7 | packaged by conda-forge | (default, Feb 20 2019, 02:51:38)
[GCC 7.3.0]
numpy:  1.16.2
matplotlib:  1.5.3

[2019-04-04 18:20] pollackscience commented on #58
matplotlib 1.5.x is not compatible, please update to a current version

On Thu, Apr 4, 2019 at 1:54 PM Joe McGlinchy <notifications@github.com>
wrote:

[2019-04-05 22:01] eduardo-rodrigues commented on #81
Apologies! The site had a major revamp as the previous version was super out-of-date, and the doc for the scikit-hep package got trapped in a hole. I will try and get this fixed asap.

Thanks for reporting!

[2019-04-06 11:54] frederikfaye commented on #81
@eduardo-rodrigues No worries, good to hear it's being worked on! :)

[2019-04-06 20:56] eduardo-rodrigues commented on #81
BTW, did you notice the mailing lists we have under "get help"? We also have since a few days a Gitter channel, see https://gitter.im/Scikit-HEP/community (info to be added to the site too). You are very welcome to join to discuss about anything related to any of the packages in the org …

While on adverts: https://hepsoftwarefoundation.org/workinggroups/pyhep.html may also be of interest to you.

[2019-04-07 07:10] frederikfaye commented on #81
@eduardo-rodrigues Very cool, thanks for the links!

[2019-05-08 17:31] pollackscience commented on #58
@oppianmatt unfortunately that looks like an edge-case incompatibility that will not be fixed on matplotlib's end, and will likely not be supported here.  I recommend upgrading to python 3 and/or using anaconda to manage python installs on CentOS.

[2019-05-22 19:54] eduardo-rodrigues opened #86 "Major redesign - package to become a metapackage for Scikit-HEP"
The vision for the overall project is for the scikit-hep package to become a metapackage for the Scikit-HEP project. Details can be worked out but the great benefit of having a metapackage is the set-up of scikit-hep tags that define compatible releases of the whole toolset. This is particularly interesting for stacks for experiments - clear what the toolset "scikit-hep version 1.0.0" is - wanted

[2019-05-23 08:05] eduardo-rodrigues commented on #86
FYI @henryiii, @HDembinski and @jpivarski.

I have started cleaning-up this package, removing website-related pages and submodules that are now elsewhere. More to come asap.

[2019-05-23 08:08] eduardo-rodrigues opened #87 "Remove redundant pdg and simulation submodules"
They are now redundant given what we have now developed in the [Particle](https://github.com/scikit-hep/particle) package, which goes well beyond what PyPDT has been providing. The dependency on PyPDT is hence to be removed.

[2019-05-23 08:09] marinang commented on #86
What about the submodules that are not elsewhere?

[2019-05-23 08:10] eduardo-rodrigues commented on #87
The `skhep/data` directory can also be deleted.

[2019-05-23 08:11] eduardo-rodrigues commented on #86
Ah, you are too fast, @marinang, I was going to create separate issues for them as we need to discuss a bit more there ;-). They are `dataset`, `modeling` and `visual`.

BTW, I was going to ping you as we need to discuss these matters. I hope you will be available to help.

[2019-05-23 09:19] eduardo-rodrigues commented on #87
For reference, this is part of a major redesign, see https://github.com/scikit-hep/scikit-hep/issues/86.

[2019-05-23 09:42] HDembinski commented on #86
Seems like a good idea and strengthens our brand.

[2019-05-23 10:31] eduardo-rodrigues opened #88 "Package redesign - future of modeling submodule"
As part of a major redesign, see https://github.com/scikit-hep/scikit-hep/issues/86, we need to discuss where the `modeling` submodule could/should go. The module contains the Bayesian blocks algorithm only. There have been some bites of discussion on our Gitter channel concerning a module for statistics-related tools and utilities, and that seems like an appropriate new home.

This needs a discus

[2019-05-23 10:39] eduardo-rodrigues opened #89 "Package redesign - future of visual submodule"
As part of a major redesign, see https://github.com/scikit-hep/scikit-hep/issues/86, we need to discuss where the `visual` submodule could/should go. Discussions on the PyHEP and Scikit-HEP Gitter channels around matplotlib extensions relevant to HEP would make me think that [mlp-hep](https://github.com/nsmith-/mpl-hep) could be an appropriate new home; or, better say, what that package will evolv

[2019-05-23 10:46] eduardo-rodrigues opened #90 "Package redesign - future of math submodule"
As part of a major redesign, see https://github.com/scikit-hep/scikit-hep/issues/86, we need to discuss where the `math` submodule could/should go. The module contains classes to deal with vectors, Lorentz vectors, functions relevant toe kinematics, etc.

We've had discussions on a package for a fast Pythonic implementation of vector-related classes, so that's 100% connected with this PR. And we w

[2019-05-23 10:51] HDembinski commented on #88
I am in favor of a statistics related module, which could be just called `statistics` or `stats` if you insist on shorter but less readable names.

[2019-05-23 12:18] marinang commented on #88
`scikit-hep/statistics` sounds good, but the problem is the name is already taken in pipy. `skep-statistics' ?
I would also be happy to include what I have done in `lauztat`.

[2019-05-23 12:37] eduardo-rodrigues commented on #88
Usual problem … There's a well-known package `statsmodels `so maybe `statsutils`?

@marinang, I was very much hoping you would ;-).

[2019-05-23 12:39] marinang commented on #88
No `statsutils` on pipy so it works for me.

[2019-05-23 13:53] eduardo-rodrigues commented on #87
Closed via https://github.com/scikit-hep/scikit-hep/pull/91.

[2019-05-23 13:53] #87 closed

[2019-05-23 13:55] eduardo-rodrigues commented on #22
The website now has it's own package, so this is no longer relevant.

[2019-05-23 13:55] #22 closed

[2019-05-23 13:57] eduardo-rodrigues commented on #26
There  have been various discussions on this exact point and there are at least issues with what you say:
- scipy uses CODATA that is on the old side.
- All our constants, now in the https://github.com/scikit-hep/hepunits package, are all expressed in the HEP system of units, which is not at all the one of scipy. In the end this latter package does the job albeit in a trivial and really simple way

[2019-05-23 13:57] #26 closed

[2019-05-29 15:29] eduardo-rodrigues commented on #88
@marinang, @HDembinski, shall we try and move forward with a name such as `statutils` or `statsutils`? One could also have `skhep-statistics`, to be used as `from skstats import ...`.
The name can even be changed later before it goes more open … Moving forward would help with the reorganisation, hence my suggestion. What's your take?

[2019-06-01 10:02] HDembinski commented on #88
Sorry, for the delay. I don't understand why the name `statistics` has to be available on PyPI? I thought statistics would be a submodule of a scikit-hep module. I thought it would be like `scipy.stats` but `scikithep.stats` or something.

[2019-06-01 10:08] HDembinski commented on #88
I like `skhep-statistics` from your choices and `skstats`.

[2019-06-01 10:10] HDembinski commented on #88
In summary, if it is possible at all, I would like `skhep.stats` to mimic `scipy.stats`, on PyPI you install `skhep` or `skhep-stats`.

[2019-06-06 07:33] marinang commented on #88
@HDembinski it seems you would like to keep a `statistics` submodule inside the `scikit-hep` module whereas @eduardo-rodrigues would like to create a separate module under the `scikit-hep` organisation. Right?

[2019-06-06 10:21] eduardo-rodrigues commented on #88
That's right, see the various "issues" created - make scikit-hep a metapackage (exact form to be defined) and have org packages with well-defined stuff, to keep modularity. In that sense, yes, we do want to have a name that is not used in PyPI so far, to be able to pip install. BTW, this does not prevent us from having some import statements defined in scikit-hep at some point in the future, if we

[2019-06-06 10:44] HDembinski commented on #88
Ok, then my preference would be (in order) `statutils` or `skhep-statistics`. The version `statsutils` sounds a bit weird to me with the extra "s".

[2019-06-06 11:08] eduardo-rodrigues commented on #88
Agreed. I have the same order of preference :-).

[2019-06-06 11:43] marinang commented on #88
Same here.

[2019-06-19 15:29] marinang commented on #88
So as you may have seen the  package has been created https://github.com/scikit-hep/statutils :)

[2019-06-19 15:46] eduardo-rodrigues commented on #88
Thanks @marinang!

@pollackscience, do you want to get started and take your module `skhep.modeling` to this new package? We have to start somewhere ...

[2019-06-19 15:50] marinang commented on #88
@eduardo-rodrigues @pollackscience that would be great, then we can discuss in `statutils` the technicalities.

[2019-06-19 16:00] eduardo-rodrigues commented on #88
Feel free to suggest a structure as a PR in `statutils` at your best convenience :-).

[2019-06-19 16:31] pollackscience commented on #88
Sure, I'll try to do the swap over this week.

[2019-06-20 10:17] marinang commented on #88
Unfortunately `statutils` is already registered in pipy. However `statsutils` is not but we don't want that name.
Apparently the name `scikit-stats` is available, but this might not be fair to take that name, idk.

[2019-06-20 13:16] marinang opened #95 "Package redesign - future of dataset submodule"
What about it?
I don't know how many people are using it or find it useful?

Only the `NumpyDataset` , `Selection` and `Provenance` are developed.

- `NumpyDataset` is a kind of dataframe

- I don't think `RootDataset` needs to be worked

- Is `provenance` still an important thing? (cannot be saved for now)

We could build from this work a dataset module, using additional goodies from `uproot`, `a

[2019-06-24 10:08] marinang commented on #88
`stat-utils` ?

[2019-06-24 10:38] eduardo-rodrigues commented on #88
Yeah, this is really annoying that `statutils` is already taken. `stat-utils` is not bad.

I still prefer `scikit-stats`, though, in spite of the responsibility this may bring. This being said, given that you folks are bridging many interesting stat-related business between HEP and data science, maybe that's just a good advert?

@HDembinski and @henryiii, what's your take?

[2019-06-25 12:53] marinang commented on #95
Basically all the ingredients are already present in `pandas.DataFrame` (so no need to reinvent the wheel here) except for the `provenance` or history of operations on the dataframe. But as I said do people care about this feature?

[2019-07-03 16:42] pollackscience commented on #88
PR is out, moving the 'modeling' dir to statutils.  As of now, there is no direct dependence on skhep, so the break is clean.  However, it should be noted that my histogram maker in `visual` depends on bayesian blocks for one of it's binning methods.  Because of that, I have not removed anything from the main skhep repo, so this code is essentially duplicated for now.

[2019-07-04 08:47] marinang commented on #88
Good :).
We still have the problem of the name though @eduardo-rodrigues @HDembinski  @henryiii

[2019-07-04 09:44] eduardo-rodrigues commented on #95
Thanks a lot @marinang for moving forward with this remaining submodule.

I tend to agree with you that the relevant of `ROOTDataset` is not really great, so would just drop it. Easy.

Provenance is for sure something really interesting, not the least for bookkeeping purposes, and analysis preservation. But, yes, it can only be useful if provenance information can be saved, which it can't with the

[2019-07-04 10:09] marinang commented on #95
Ok we can say goodbye to `RootDataset`, I will open an PR to remove it.

[2019-07-04 10:10] HDembinski commented on #88
I prefer prefer `scikit-stats` over `stat-utils`. It somehow sounds more professional.

[2019-07-04 11:18] eduardo-rodrigues commented on #88
Let's go for that, then. Pressure is on, with such a name … ;)

[2019-07-04 11:19] eduardo-rodrigues commented on #88
@marinang, better reserve the name on PyPI asap.

[2019-07-04 12:25] marinang commented on #88
Ok I will do it.

[2019-07-04 12:33] marinang commented on #88
Done guys. https://pypi.org/project/scikit-stats/

[2019-07-12 09:51] eduardo-rodrigues commented on #88
@pollackscience, I guess one needs to get at least a 0.1.0 release of `scikit-stats` to then remove the duplication from `scikit-hep` and make it dependent on `scikit-stats` while the `visual` module is there. Eventually, it will all be somewhere else, and `scikit-hep` will truly become a metapackage.

For you, the main milestone is when the `visual` module will go somewhere else. Let's keep this

[2019-07-12 09:52] eduardo-rodrigues commented on #95
@marinang, let me know if you are too busy, in which case I can prepare the PR.

[2019-07-12 09:53] eduardo-rodrigues commented on #60
As per recent discussions on the future of the package, it is clear that the `RootDataset` class will be removed. This can hence be closed.

[2019-07-12 09:53] #60 closed

[2019-07-12 09:54] marinang commented on #95
@eduardo-rodrigues I am doing it now :)

[2019-07-12 09:56] eduardo-rodrigues commented on #95
Thanks very much!

[2019-07-12 10:00] eduardo-rodrigues commented on #23
Closing this since the package will become a metapackage, and the whole structure and submodules will change.

[2019-07-12 10:00] #23 closed

[2019-07-12 11:03] eduardo-rodrigues commented on #95
@marinang, will you be at CERN in the near future so that we can sit together and discuss, see suggestion above?

[2019-07-12 11:42] marinang commented on #95
@eduardo-rodrigues I come rarely at CERN because all my meetings are video only, but I can come in the near future yes.

[2019-07-12 11:55] eduardo-rodrigues commented on #95
OK, then drop a line if you happen to come at some point … Thanks.

[2019-07-24 19:52] eduardo-rodrigues commented on #90
Important note: this submodule is used by at least the https://github.com/diana-hep/madminer package, and we should keep the authors in the loop of the design going on here, to avoid unnecessary disruptions. FYI @johannbrehmer.

[2019-07-24 20:29] johannbrehmer commented on #90
Thanks! A move is great, but if would be awesome if you leave the LorentzVector API intact :)

Let me elaborate a little bit on this. MadMiner makes heavy use of LorentzVector, not just internally, but user-facing. For instance, MadMiner users can define observables or selection cuts through expressions or functions that use LorentzVector instances.

So if LorentzVector moves to a different packag

[2019-07-25 12:55] eduardo-rodrigues commented on #90
I know we have mentioned changes but, if any, changes to the API will be really small, and probably not in the kind of methods you use. Also, we could even imagine to keep, for at least the first release as new package, a duplication of functionality with the old signatures, if better.

We will update this as the job gets done :-).

[2019-10-23 17:39] marinang commented on #88
@eduardo-rodrigues a first release of `scikit-stats` can be published this week or beginning of the next one I think.

[2019-10-23 20:04] eduardo-rodrigues commented on #88
OK, cool @marinang. This week would be preferable, just so that we progress with the organisation further :-)

[2019-10-25 12:03] eduardo-rodrigues opened #100 "scikit-hep metapackage - add function to run all tests of installed org packages"
Once this package really is a metapackage we should provide a function `skhep.run_dependencies_tests()` (or alike) to be able to navigate though the installed org packages and run all test suites. This would make sure that the installed versions via the metapackage really are all fine :-).

[2019-10-25 12:16] marinang commented on #100
@eduardo-rodrigues I just thought about it right now what about packages that have tests with requirements that are different than the requirements to install. I am thinking about:

* uproot: tests with ROOT
* scikit-stats: tests with zfit (depends on tensorflow)

There are maybe others that I forgot.

[2019-10-25 12:21] eduardo-rodrigues commented on #100
It's a good point. We may well need to adapt/improve tests across the board. What I mean is the following: for tests that have special needs, such as ROOT, there should probably be a pytest decorator in the relevant tests to make sure that those tests only run if the requirements are met. Same for certain tests that may only run in Py 3.x and not 2.7. In other terms, there are indeed limitations.

[2019-10-25 12:49] eduardo-rodrigues commented on #88
For reference the first release of `scikit-stats` contains the `modeling` submodule from `scikit-hep`, as agreed, see https://github.com/scikit-hep/scikit-stats/releases/tag/v0.1.0.

[2019-12-04 16:50] eduardo-rodrigues commented on #100
@henryiii, any thoughts on this?

[2020-02-11 10:31] mayou36 opened #105 "Meta discussions and free attribute field"
Hey all, two questions: where should we put discussion about scikit-hep packages such as standards or conventions? Is this the right place?

Second: I had several discussions with several people/packages about a "free" (or meta) field; a dict that can store additional information for packages and pass them around. Maybe just as an "experimental" feature to test implementations.
Objects have a dedi

[2020-02-11 11:06] eduardo-rodrigues commented on #105
Discussions on project packages: depends whether you want it private or not, etc. If private, then getting in touch via the admins mailing list is the way to go. If public, then either use the Gitter channel or the public forum. All details at https://scikit-hep.org/getting-in-touch :-). The Gitter channel contains more people that the forum, I bet …

[2020-02-11 11:10] eduardo-rodrigues commented on #105
@mayou36, apologies that I haven't yet managed to get back to you on those discussions we're having at https://github.com/scikit-hep/decaylanguage/issues/86. But I will … Indeed interesting to hear what others think.

[2020-02-11 11:12] eduardo-rodrigues commented on #105
BTW, we're pretty much ready to make a first "test release" of `scikit-hep` as a metapackage. Anyone willing to test it out (probably in a virtual env) once released? That would help me a lot :D. Let me know.

[2020-09-09 10:44] eduardo-rodrigues opened #108 "Docker container to be able to test compatibility of all packages?"
Following up from the quick chat on Gitter - @matthewfeickert, would it make sense to try and have an environment test in a container to make sure that whatever dependencies we set/update for this (eventually to become) metapackage we are consistent? Maybe there's a simpler way to achieve this and I'm just being naive?

Cc @henryiii as well.

Thanks.

[2020-09-09 15:58] matthewfeickert commented on #108
Sure. I can just make a Docker image that demos this and also uses the (soon to be **not**-beta) [`2020-resolver` of `pip`](https://discuss.python.org/t/announcement-pip-20-2-release/4863) to make sure everything plays nice.

[2020-09-09 21:21] eduardo-rodrigues commented on #108
Brilliant, that would be a game-changer IMO. Thanks!

[2020-09-10 09:33] eduardo-rodrigues commented on #81
The revamp of the website has been done and the "documentation master page" https://scikit-hep.org/documentation no longer links to any doc pages for the `scikit-hep` package since the scope of the latter (to be a metapackage) is also WIP. It would not make sense to keep the old doc. For anyone still using bits and pieces of `scikit-hep` the best doc is given by the comprehensive info in docstring

[2020-09-10 09:33] #81 closed

[2020-09-10 23:17] matthewfeickert commented on #108
@eduardo-rodrigues now that I've had a bit of time to think on this I guess I should ask what is the general goal. Is it to see if we at any point try to install all of the libraries in the meta-package from their current release on PyPI if things work? If so, then we could just simply add a nightly CRON job as a GitHub Actions workflow to test this.

If there is a need for using the Docker image

[2020-09-11 07:43] eduardo-rodrigues commented on #108
It is precisely "to see if we at any point try to install all of the libraries in the meta-package from their current release on PyPI if things work". This is a must, of course. In short, if I do `pip install scikit-hep 1.2.3` I am *assured* that all Scikit-HEP package installed work nicely together

[2020-09-14 03:32] matthewfeickert commented on #108
This should already be covered by the fact that the

https://github.com/scikit-hep/scikit-hep/blob/e808b7a01889a06283a53ba752ffe522b938af90/requirements.txt#L1-L10

are restricted to mostly just patch releases so when they are installed in the tests in CI

https://github.com/scikit-hep/scikit-hep/blob/e808b7a01889a06283a53ba752ffe522b938af90/.github/workflows/ci.yml#L26-L29

if they work there the

[2020-09-15 06:58] #108 closed

[2020-10-05 16:17] eduardo-rodrigues commented on #69
FYI @henryiii I've just tagged v1.0.0 for the first metapackage release and see that it does not get deployed automatically to PyPI. This comment is just to remind ourselves to set things up asap for automatic uploads.

[2020-10-05 16:59] eduardo-rodrigues commented on #69
OK, done. Just to be sure - is this issue something you can take care of, @henryiii, as you did it for other Scikit-HEP packages?

[2020-10-05 19:12] #69 closed

[2020-10-06 14:39] henryiii opened #118 "[FEAT] Add pre-commit"
This package should follow scikit-hep's developer recommendations, and have pre-commit, with at least check-manifest.

See #17 for an example of what this would have caught.

[2020-10-06 16:02] eduardo-rodrigues commented on #118
Yes, good point.

[2020-10-07 10:37] eduardo-rodrigues commented on #100
This seems too much. I'm closing this given the more realistic goal achieved with https://github.com/scikit-hep/scikit-hep/issues/108.

[2020-10-07 10:37] #100 closed

[2020-10-07 13:03] eduardo-rodrigues commented on #86
For reference we now have a first metapackage release `scikit-hep v1.0.0`, see https://github.com/scikit-hep/scikit-hep/releases/tag/v1.0.0!

The package does still contain some code (see related issues above), and that's the only reason why I'm not closing this just now.

[2020-10-07 15:46] #88 closed

[2020-11-02 17:22] eduardo-rodrigues opened #125 "Towards release 1.2.0"
List of new minor (y in version x.y.z) compatible versions to include in a new release (`x` added where new minor versions exist):

- [x] awkward~=0.14
- [x] boost-histogram~=0.11.0
- [x] decaylanguage~=0.9.0
- [ ] hepstats~=0.3.0
- [ ] hepunits~=2.0.0
- [ ] hist~=2.0.0
- [ ] histoprint~=1.5.0
- [ ] iminuit~=1.5.0
- [ ] mplhep~=0.2.0
- [x] particle~=0.13.0
- [x] uproot-methods~=0.8.0
- [x] uproot~

[2020-11-05 08:34] #125 closed

[2020-12-10 13:22] eduardo-rodrigues commented on #118
Anything else apart from what I added via https://github.com/scikit-hep/scikit-hep/pull/129, @henryiii?

[2020-12-10 14:25] henryiii commented on #118
If you want to use the check-manifest check, we should add a GitHub CI job that runs with "--manual" enabled. results.pre-commit.ci does not enable that flag.

[2020-12-10 14:27] eduardo-rodrigues commented on #118
Ah, that goes beyond my knowledge, sorry. Better that I leave that to you.

[2021-01-22 14:46] eduardo-rodrigues opened #131 "Make metapackage available in conda"
We are seeing use-cases already. We first need to get several of the org packages in Conda. List to be added.

[2021-01-23 10:59] chrisburr commented on #131
What do you think about dropping the `awkward0`, `uproot3` and `uproot3-methods` dependencies? It requires a non-trivial amount of fiddling to add them to conda-forge for not very much benefit IMHO.

Also requires: https://github.com/conda-forge/staged-recipes/pull/13765

[2021-02-08 13:16] chrisburr commented on #131
Done in https://github.com/conda-forge/staged-recipes/pull/13913

[2021-02-08 13:16] #131 closed

[2021-02-14 09:21] eduardo-rodrigues commented on #131
Hi @chrisburr, thank you very much for this and apologies for such a late reply!

I can well understand that point. But in the end it seems you actually added all of the dependencies of the metapackage to conda? Cool.

I will try and check updates of the dependencies this coming week to get the latest and greatest. Thanks again!

[2021-02-14 11:04] chrisburr commented on #131
Yeah, they were needed for coffea and in general I think it looks like uproot3 is still going to be used for a while given `uproot=4` doesn't support writing yet.

[2021-03-31 09:14] eduardo-rodrigues commented on #105
Morning @mayou36! I have worked a couple of things in `DecayLanguage` recently and reread the outstanding issues, which brought me from https://github.com/scikit-hep/decaylanguage/issues/86 to here ... How would you prefer to proceed? A general discussion - see above for your question - could be held on the admins mailing list or, possibly better, on the Gitter channel. As for https://github.com/s

[2021-03-31 09:18] mayou36 commented on #105
Morning Eduardo, that's good to know! And indeed let's close it ;)

[2021-03-31 09:18] #105 closed

[2021-03-31 09:22] eduardo-rodrigues commented on #105
But shall we try and move with https://github.com/scikit-hep/decaylanguage/issues/86 or it's a bad moment for you? In any case I will try and make some comments soon :-).

[2021-03-31 10:59] mayou36 commented on #105
So I have two large things up currently, so medium well timed, but just go ahead, I'll try to be active again so that we get something out of it. So just ping me ;)

[2021-05-17 14:43] eduardo-rodrigues commented on #90
Hi @johannbrehmer, I think it is time to get back to this now that the `vector` package has been released, see https://github.com/scikit-hep/vector. Maybe you are using it already? It would be great to discuss with you if `vector` provides what you want, if you have feature requests, feedback on the API, and finally, how to retire what math we have here now that `vector` is available.

CC'ing @hen

[2021-05-17 14:45] eduardo-rodrigues commented on #90
As you can see from https://github.com/scikit-hep/scikit-hep/pull/140 I'm adding `vector` as a dependency to this metapackage so that it is readily available together with the rest, see for example the most recent release https://github.com/scikit-hep/scikit-hep/releases/tag/v3.1.0.

[2021-05-28 10:22] eduardo-rodrigues opened #144 "Preparation of release 3.2.0"
### New packages to add:
- vector (version 0.8)

### Minor dependency updates to make:
- DecayLanguage 0.11
- histoprint 2.1
- mplhep 0.3
- Particle 0.15

### Python support:
- Update of mplhep from 0.2 to 0.3 requires drop of Python 3.6

[2021-06-01 16:48] #144 closed

[2021-07-07 07:06] eduardo-rodrigues opened #149 "Preparation of release 3.3.0"
### Minor dependency updates to make:
- awkward 1.4
- boost-histogram 1.1
- hepstats 0.5
- Hist 2.4
- iminuit 2.7

[2021-07-08 14:22] eduardo-rodrigues commented on #89
Update - with all the community developments around boost-histogram, so Hist and mplhep, this module is basically redundant and being remove. Only a "helper function" for binning is worth seeing if it fits in Hist ...

[2021-07-08 15:28] #89 closed

[2021-07-08 17:46] #149 closed

[2021-07-25 14:08] eduardo-rodrigues opened #153 "Preparation of release 3.4.0"
### Minor dependency updates to make:
- DecayLanguage 0.12
- histoprint 2.2
- iminuit 2.8
- Particle 0.16

[2021-09-03 15:24] eduardo-rodrigues commented on #153
Closed via https://github.com/scikit-hep/scikit-hep/pull/156.

[2021-09-03 15:24] #153 closed

[2021-09-07 07:02] #95 closed

[2021-09-07 07:04] eduardo-rodrigues commented on #86
At this point in time only the math module is present, and everything else has either been moved elsewhere or obsoleted. There have also been many metapackage releases in the past year or so. It is time to close the task, even though https://github.com/scikit-hep/scikit-hep/issues/90 will remain open just a little longer in case somebody isn't yet using the vector package or needs some of the geom

[2021-09-07 07:04] #86 closed

[2021-09-07 07:09] eduardo-rodrigues commented on #118
When you find a bit of time, @henryiii, can you check if there's anything left to do on this task? It seemed done to me but not quite to you.

[2021-10-11 16:24] eduardo-rodrigues commented on #118
Hey @henryiii, to try and finalise on this - from your perspective what is missing in https://github.com/scikit-hep/scikit-hep/blob/master/.pre-commit-config.yaml that you would like to see here?

[2022-03-29 17:13] henryiii opened #173 "Package updates"
I'd like to propose we remove uproot-methods, uproot3, and awkward0. I think they are deprecated and not really being actively maintained. They should be opt in, not automatically included in the metapackage at this point. CC @jpivarski

Also, hepstats[^1] seems rather dead. CC @jonas-eschle, I think.

I also think we consider our newcomers. Uproot-browser, perhaps? I'm thinking it might be better

[2022-03-29 17:17] jpivarski commented on #173
I agree: we don't want newcomers to think they should use uproot-methods, uproot3, or awkward0. Where are you suggesting they should go? A new organization called "scikit-hep-deprecated"?

Or maybe they should just become archived repos? (That would make it difficult to insert an emergency bug-fix, which I'm still open to, if it were a big enough emergency.)

If you're talking about packages that

[2022-03-29 17:45] henryiii commented on #173
This is for removing them from the metadata package. I'd probably go with archiving, that makes it clear what the status is, and you can always un-archive if needed (though I don't think people can open issues on an archived repo). No rush or worry about that at the moment, I just noticed them in the metadata repo list.

https://github.com/scikit-hep/scikit-hep/blob/master/requirements.txt & https

[2022-03-29 21:55] eduardo-rodrigues commented on #173
Sure. I have kept them since a while because we know "inertia" is exactly that. At this point in time you're right that it seems very reasonable to remove them from the metapackage, which is there to ease having a set of core packages. I will proceed tomorrow and will ping you both.

That's not quite true and in fact there were some exchanges on the admins list back in Nov. for a take-over of main

[2022-03-29 22:36] jpivarski commented on #173
In terms of new Uproot/Awkward adoption, this is where we are (in linear scale):

![image](https://user-images.githubusercontent.com/1852447/160717483-15c2c515-7fda-498e-bfe4-3e00f13ef5cd.png)

![image](https://user-images.githubusercontent.com/1852447/160717526-d80ad468-e9f2-400b-a88d-239c83e269f2.png)

The log-scale for Awkward isn't very interesting, but for Uproot, you can see that there are s

[2022-03-30 07:16] eduardo-rodrigues commented on #173
Your call, Jim. I will anyway remove those very old packages from the metapackage, as that's very safe and sound.

[2022-03-30 08:48] eduardo-rodrigues commented on #173
Done in PR https://github.com/scikit-hep/scikit-hep/pull/174.

I looked for packages that one might add:
- `pyhf` and `cabinetry`: agree that they are major independent user packages that aren't needed by default in the metapackage. That's why I never included them. OK @matthewfeickert ?
- `uproot-browser` is super light but more an application. I would in fact add it, but let me know @henryiii an

[2022-03-30 10:06] alexander-held commented on #173
The question of what to include comes down to who the target audience for this package is (apologies if that has been discussed previously elsewhere!). Are we aiming to provide
- a single package that provides an exhaustive set of tools covering many possible user needs,
- or a more focused set of core dependencies from which we expect that most users use the majority of them?

In addition, in whi

[2022-03-30 16:30] henryiii commented on #173
I'd be okay to add pyhf, but I think most users of pyhf already know they are going to use pyhf, and are just using that - I could be wrong, but I don't think you are likely to just happen to mix in a bit of pyhf to an analysis in progress, while that is true for awkward, vector, hist, etc. They are probably selecting a backend, and possibly adding whatever they need for that backend, etc. It's no

[2022-03-30 16:51] eduardo-rodrigues commented on #173
I agree with that, Henry, and that's basically why pyhf isn't there at the moment.

[2022-03-31 06:26] matthewfeickert commented on #173
RE: `pyhf` being in I don't really have strong feelings either way. I think this (Henry's statement) is mostly true, but I think it depends on who you are (experiment wise, as statistical analysis approaches are still pretty siloed even at the LHC). Given that cavet though I can see the argument for saying leave it out if we pose the `scikit-hep` metapackge in the context of "what are tools that a

[2022-04-08 13:13] eduardo-rodrigues commented on #173
Balancing the pros and cons I think we can at the very least "give it a try" and add `fastjet` and `pylhe` to the metapackage. That may actually result in more usage and feedback? Dunno. But both packages are useful and lightweight, so not a "technical" issue.
I will add them both for a future release.

[2022-04-09 11:06] HDembinski commented on #173
It is not scoped at all, it is a very widely useful library. Bootstrapping is a standard tool to estimate statistical uncertainties. Basically everyone who does data analysis has a need for this. Whether they actually use bootstrapping is a matter of knowing about the benefits of bootstrapping and about having an easy-to-use library at hand. So, I think it should be included.

[2022-04-10 19:00] eduardo-rodrigues commented on #173
Thank you for your comments @HDembinski. I see we are using "scoped" with different meanings. No worries. I certainly agree that bootstrapping is a powerful and common tool in analysis. I'm very happy to to the inclusion for a new release. I see that you actually have a Conda feedstock already - https://github.com/conda-forge/resample-feedstock - but no release so far because of some failures. The

[2022-04-11 13:19] HDembinski commented on #173
Ok, I will look into conda.

+1 on removing hepstats. I wanted to take over as maintainer, but now that we have a separate sweights library, the motivation is not there anymore.

[2022-05-13 14:47] andrzejnovak opened #176 "Update package version on CI from release"
Should we set up CI to open a PR here every time a "tracked" package publishes a release? Would be a good way to keep this always up to date.

[2022-05-14 08:10] eduardo-rodrigues commented on #176
Hi @andrzejnovak, that would be ideal. We would need it to catch minor and major releases of the packages incorporated in this metapackage. Any idea how to get that set up? Help appreciated.

[2022-05-14 08:58] andrzejnovak commented on #176
I don't have the experience, but happy to take a look. Seems dependabot could do this for us.

[2022-05-14 09:21] eduardo-rodrigues commented on #176
That's very much appreciated 👍.

[2022-05-14 09:49] andrzejnovak opened #178 "Extending scope"
Perhaps this would be better as a discussion, but those aren't enabled here yet.

I wonder what the thoughts of others are on extending the scope. Presumably, the goal of the package is to be a one-stop shop for the pythonic HEP ecosystem. I would suggest that should also include `coffea` with its various nominally optional dependencies that are typically needed to run anything but benchmarks anyw

[2022-05-14 12:43] henryiii commented on #178
It’s really painful to work with environments that are too large. Conflicts and increased solver difficulty will come up. I’m currently fighting with the fact that Jax and TensorFlow can’t be installed in the same environment. A user just starting might want a ROOT or Anaconda like experience, though, which is why we have this package. It doesn’t have “framework” packages, those should have their

[2022-05-14 12:45] henryiii commented on #178
I’d recommend providing an example `environment.yml` as a starting point for tutorials and such, and I’d list the specific packages over this one usually. It will promote good practice and also be easy.

[2022-05-14 14:30] andrzejnovak commented on #178
That's a fair point and I am happy to defer to your expertise here. OTOH I don't really see much use in having a meta-package if it only aggregates a handful of packages. If one were to build something finicky pulling a meta-package is probably a bad practice anyway.

I already do provide `env.yml` in most situations, but again if that is the recommended use, aggregating 6 packages into one is eve

[2022-05-16 13:07] henryiii commented on #178
There is some value in having all our basic packages together, like hist + uproot + awkward + mplhep + vector + etc. It gives users who are _not_ trying to use a framework like PyHF, Coffee, etc. a starting point if they don't know what they want. If they are using a framework, then they can just use that. Here I'm defining framework as something that drives the main part of what they are doing, a

[2022-05-16 19:22] eduardo-rodrigues commented on #176
Close via https://github.com/scikit-hep/scikit-hep/pull/177.

[2022-05-16 19:22] #176 closed

[2022-08-19 12:18] eduardo-rodrigues commented on #178
I think we effectively converged here given our strong opinions on the scope of this metapackage. Again, for anything fancier that goes beyond the dozen packages provided, one should really have an env file for something that is like `install scikit-hep coffea`, etc. This is much better than having to list 15 packages or so.

Am closing at this point.

[2022-08-19 12:18] #178 closed

[2022-08-19 12:20] eduardo-rodrigues commented on #173
Little update - I released `scikit-hep 4.0.0` today, which has uproot-methods, uproot3, and awkward0 removed as agreed above.

[2022-10-19 03:10] matthewfeickert commented on #173
Along these lines, while I always suggest that people try to avoid using LCG view environments if they can (given the massive environment bloat) and find ways to build their own bespoke environments for analysis, I've had the LCG team update `awkward`, `uproot`, `boost-histogram` in [LCG view `dev4`](https://lcginfo.cern.ch/release/dev4/) (the nightly) and had them remove `awkward0`, `uproot3`, `u

[2022-10-19 09:12] eduardo-rodrigues commented on #173
Good move, @matthewfeickert. We had forgotten about that ...

What do people in general think of us actually requesting the `scikit-hep` metapackage to be included in the LCG stacks? In the end most of the packages already are there, and one of the main goals of the metapackage is to make it easy to get a consistent set of org packages (that makes sense, see threads above) in one go. A large fract

[2022-10-19 13:53] matthewfeickert commented on #173
I'm not necessarily against this idea, but

won't actually save that much time for us as the LCG team won't update dependencies (here all the packages in `scikit-hep`) for us and so we would still have to define each package update we want every time we requested a `scikit-hep` update. c.f. https://sft.its.cern.ch/jira/browse/SPI-2221 for an example of this.

Another potential problem is that as w

[2022-10-19 14:46] eduardo-rodrigues commented on #173
Thanks a lot @matthewfeickert for your thoughts.

I see that you are indeed requesting updates of the dependencies explicitly. I had assumed that would be done kind of automatically.

New releases of scikit-hep is a least concern as LCG moves *far* slower. For example I have been waiting for several months for a non-dev LCG 102 for the offline LHCb stack ... In practice LCG releases would jump a b